* {
	margin: 0%;
}

.navbar {
	text-align: center;
}

.logo {
	width: 4% !important;
	vertical-align: middle;
}

#logoimge {
	margin-right: 17%;
	font-size: 2rem;
}

.navbar span {
	color: orange;

}

.navbar a {
	text-decoration: none;
	font-size: 1rem;
	margin: 1%;
}

.sec2 {
	background-color: rgba(239, 239, 239, 0.6);
	display: flex;
	padding: 8% 10%;
}

.shapes {
	width: 50%;
}

.rectangle {
	background-color: #b6b6b6;
	width: 100%;

	padding-bottom: 8%;
	;


}

.rectangle span {
	font-size: 1.5rem;
}

.rectangle sub {
	font-size: 1rem;
}

.smallcircle {
	background-color: #242424;
	color: white;
	width: 18%;
	vertical-align: middle;
	padding: 2.5% 0%;
	padding-top: 5%;
	padding-bottom: 5%;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 66%;
	top: -10px;


}

.bigcircle {
	background-color: #ff971c;
	color: white;
	width: 24%;
	padding: 5% 0%;
	padding-bottom: 10%;
	border-radius: 50%;
	text-align: center;
	position: relative;
	left: 72%;
	top: -23px;


}

.vps {
	padding-top: 2%;
	padding-left: 5%;
}

.vps p {
	font-family: sans-serif;

	margin-top: 3%;

	font-size: 0.9rem;
}

.vps h1 {
	font-size: 2.2rem;
	padding: 1% 0% 3% 3%;

	font-family: sans-serif;
}

.get {
	background-color: orange;
	color: white;
	padding: 3%;
	border: none;
	margin-top: 10%;
	border-radius: 20px;
	margin-left: 2%;
}

.navbar2 {
	background-color: #272727;
	color: white;
	padding: 1%;
	display: grid;
	text-align: center;
	grid-template-rows: auto;
	grid-template-columns: 50% 8% 8% 8% 8%;


}

.navbar2 input {
	width: 50%;
	background-color: #272727;
	color: gray;
	border-color: #393939;
	border-right: none;
}

.navbar2 span {
	color: #565656;
}

.navbar2 button {
	background-color: #484848;
	color: white;
	border: none;
}

.section2 {
	padding-top: 7%;
	padding-left: 20%;

}

.section4 {
	padding-top: 7%;
	padding-left: 20%;
	background-color: black;
	color: white;
}

.section2 h1 {
	margin-bottom: 1%;
}


.table {
	width: 70%;
	margin-top: 3%;
	text-align: center;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 25% 25% 25% 25%;
	padding-bottom: 5%;

}

.table P {

	padding: 5%;

}

.table div {

	border: 0.5px solid #5e5e5e;
	background-color: #e9e9e9;
}

.table button {
	background-color: orange;
	border-radius: 15px;
	padding: 4%;
	border: none;
	color: white;

}

.table div:hover>p {
	background-color: orange;
	padding: 10px;
}


.table div:hover>#tableheader {
	background-color: black;


}

.table div:hover>p>button {
	background-color: white;
	color: black;

}


#tableheader {
	background-color: #505050;
	color: white;
	padding: 4%;
	font-size: 1.5rem;
}

#tableheader span {

	font-size: 2rem;
}

.section4 {
	padding-top: 5%;
	padding-left: 20%;
	background-color: black;
	color: white;
}

.table2 {
	width: 70%;
	margin-top: 3%;
	text-align: center;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto 30% auto;
	padding-bottom: 5%;
	align-content: center;
}

.table2 h4 {

	font-size: 1rem;
}

.table2 p {
	padding-top: 5%;
	font-size: 0.6rem;

}

.table2 hr {
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;

}

.icondivs:hover div>h4 {
	color: orange;
}

.icondivs:hover div>i {
	color: orange;
}

.icondivs:hover div {
	border-color: orange;
}

#emty {

	height: 230px;

	background-color: gray;
}

.section5 {
	padding-top: 5%;
	padding-left: 20%;
	background-color: white;
	color: black;
}

.table3 {
	width: 70%;
	margin-top: 3%;
	text-align: center;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 50% 50%;
	padding-bottom: 5%;
	align-content: center;
	grid-column-gap: 5%;
}

.table3 p {
	margin-top: 3%;
	font-size: 1srem;
}

.table3 i {
	color: orange;
}

.table3 button {
	background-color: orange;
	color: white;
	padding: 5%;
	border: none;
	border-radius: 20px;
	margin-top: 8%;
}

.table3 h4 {
	margin-bottom: 8%;
}

.table3 h2 {
	margin-bottom: 10%;
}

.section6 {
	padding-top: 5%;
	padding-left: 20%;
	background-color: #f6f6f6;
	color: black;
}

.table4 {
	width: 75%;
	margin-top: 3%;
	text-align: center;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 33.33% 33.33% 33.33%;
	padding-bottom: 5%;
	align-content: center;
	grid-column-gap: 1%;
	align-items: center;
}

.table4 div {
	margin: 2%;
	background-color: white;
	padding: 5%;
	font-size: 0.8rem;
}

.table4 button {
	background-color: orange;
	color: white;
	padding: 5%;
	border: none;
	border-radius: 20px;
	margin: 10%;
	width: 80%;
}

#empty {
	width: 80%;
	border: 1px solid black;
	padding-top: 70%;
	background-color: gray;
	margin-left: 5.5%;
}

.table4 h3 {
	margin: 10%;
}

.table4column:hover {
	background-color: black;
}

.table4column:hover >div {
	background-color: black;
}
.table4column:hover div>h3 {
	color: white;
}

.table4:hover div>p {
	color: gray;
}
.section7{
	display: flex;
}
.section7 .right{
	width: 50%;
	padding:10% 9%;
	background-color: #434343;
	color: white;
}
.section7 .left{
	width: 50%;
	padding:10% 9%;
	background-color: #565656;
	color: white;
}
.section7 i{
	color: orange;
}

.right p{
	margin-top: 3%;
}
.right h2{
	margin-bottom: 6%;
}
.right button{
	margin-top: 6%;
	background-color: orange;
	color: white;
	padding: 5%;
	border: none;
	border-radius: 20px;
	margin: 10%;
	width: 50%;
}
.left p{
	margin-top: 3%;
}
.left h2{
	margin-bottom: 6%;
}
.left button{
	margin-top: 6%;
	background-color: orange;
	color: white;
	padding: 5%;
	border: none;
	border-radius: 20px;
	margin: 10%;
	width: 50%;
}
.box{
	float: right;
	background-color: #b6b6b6;
	padding: 13%;
	padding-top: 18%;
}
.contentbox{
	float: left;
}
.box p{
	text-align: center;
	background-color: orange;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	font-size: 0.8rem;
	padding: 10%  20%;
	position: relative;
	top: -100px;
	left:60px
}

@media(min-width:1366px) {

	.smallcircle {

		width: 18%;
		padding: 2.2% 0%;
		padding-bottom: 10%;
	}
}

@media(max-width:996px) {

	.smallcircle {
		font-size: 0.5rem;
		width: 18%;
		padding: 2.2% 0%;
		padding-bottom: 10%;
	}

	.bigcircle {
		font-size: 0.5rem;
		width: 24%;
		padding: 5% 0%;
		padding-bottom: 10%;
	}

	.logo {
		width: 1% !important;

	}

}

@media(max-width:768px) {

	.smallcircle {
		font-size: 0.5rem;
		width: 18%;
		padding: 2.2% 0%;
		padding-bottom: 10%;
	}

	.bigcircle {
		font-size: 0.5rem;
		width: 24%;
		padding: 5% 0%;
		padding-bottom: 10%;
	}

	.rectangle span {
		font-size: 1rem;
	}

	.rectangle sub {
		font-size: 1rem;
	}

	.logo {
		width: 9% !important;
		vertical-align: middle;
	}

	.navbar a {
		text-decoration: none;
		font-size: 1rem;
		margin: 0.5%;
	}

	#logoimge {
		margin-right: 10%;
		font-size: 2rem;
	}
}